</div>
<div class="desktop row index">
	<h1>TEST</h1>
    <div class="grid__item large--one-third text-center" style="padding-right:2px;"> 
        <span class="grid-product__meta">
         	 <span class="grid-product__title" style="display:inline-block;">
             <h3>Winter</h3>
             <h1>Wonderland</h1>
        		 <hr class="hr--clear-xs">
                <a href="/pages/shop-the-look" class="btn outline">Shop</a>
        		</span>
      	</span>
     <img src="{{ 'HP_Sweater_D.jpg' | asset_url }}"/>
    </div>
    <div class="grid__item large--two-thirds text-center" style="padding-left:9px;">
      <span class="grid-product__meta">
         	 <span class="grid-product__title" style="display:inline-block;">
             <h3>SOULFUL ECONOMY</h3>
             <h1>MADE BY ARTISANS</h1>
        		 <hr class="hr--clear-xs">
                <a href="/pages/soulful-economy-marketplace" class="btn outline">Discover</a>
        	</span>
      	</span>
     	<img class="desktop" src="{{ 'UZR_HP_Marketplace_DT-v3_2015_12_11.jpg' | asset_url }}"/> 
    </div>
</div>
<div class="mobile row index">
	<div class="flexslider">
	<ul class="slides">
		<li>
   <div class="grid__item nopadding text-center" style="padding:0 !important;">
      <span class="grid-product__meta">
       	 <span class="grid-product__title" style="display:inline-block;">
           <h3>Winter</h3>
           <h1>Wonderland</h1>
      		 <hr class="hr--clear-xs">
              <a href="/pages/2015-fall-winter-shop-the-look" class="btn outline">Shop</a>
      		</span>
    	</span>
   <img class="mobile" style="width:100%;" src="{{ 'alpha.gif' | asset_url }}" data-src="{{ 'HP_Sweater_M.jpg' | asset_url }}"/>
   
  </div>
</li>
<li>
  <div class="grid__item nopadding text-center">
        <span class="grid-product__meta">
       	 <span class="grid-product__title" style="display:inline-block;">
           <h3>GIFTS WITH SOUL</h3>
           <h1>Soulful Economy Marketplace</h1>
      		 <hr class="hr--clear-xs">
              <a href="/pages/soulful-economy-marketplace" class="btn outline">Discover</a>
      </span>
    	</span>
  	<img class="mobile" style="width:100%;" src="{{ 'alpha.gif' | asset_url }}" data-src="{{ 'HP_Slider_Marketplace_V2_M_15_12_11_large.jpg' | asset_url }}"/>
 
  </div>
</li>
</ul>
</div>
</div>
<div class="row index bottom">
<div class="grid">
  <div class="grid__item large--one-quarter small--one-half text-center">
      <a href="/pages/urban-zen-foundation">
        <span class="grid-product__meta">
          <span class="grid-product__title">Urban Zen Foundation</span>
        </span>
        <img class="desktop" src="{{ 'alpha.gif' | asset_url }}" data-src="{{ 'UZR_HP_Desktop_Foundation_2015_11_11_large.jpg' | asset_url }}">
		<img class="mobile" src="{{ 'alpha.gif' | asset_url }}" data-src="{{ 'HP_M_UZF_15_11_06_medium.jpg' | asset_url }}">
      </a>
    </div>
    <div class="grid__item large--one-quarter small--one-half text-center">
	<a href="/pages/not-one-more">
      <span class="grid-product__meta">
         <span class="grid-product__title">Not One More</span>
      </span>
        <img class="desktop" src="{{ 'alpha.gif' | asset_url }}" data-src="{{ 'HP_Not_One_More_Desktop_large.jpg' | asset_url }}">
		<img class="mobile" src="{{ 'alpha.gif' | asset_url }}" data-src="{{ 'HP_Not_One_More_Mobile_medium.jpg' | asset_url }}">		
      </a>
    </div>
  <div class="grid__item large--one-quarter small--one-half text-center">
      <a href="/blogs/donnas-voice" class="fancybox-media">
        <span class="grid-product__meta">
       	 <span class="grid-product__title">Donna's Voice</span>
    	</span>
        <img class="desktop" src="{{ 'alpha.gif' | asset_url }}" data-src="{{ 'Donnas-message_large.jpg' | asset_url }}">
		<img class="mobile" src="{{ 'alpha.gif' | asset_url }}" data-src="{{ 'HP_M_Donnas-Voice_medium.jpg' | asset_url }}">		
      </a>
    </div>
    <div class="grid__item large--one-quarter small--one-half text-center">
      <a href="/pages/stores">
      <span class="grid-product__meta">
         <span class="grid-product__title">Visit Our Locations</span>
      </span>
        <img class="desktop"  src="{{ 'alpha.gif' | asset_url }}" data-src="{{ 'HP_TN_Store.jpg' | asset_url }}">
		<img class="mobile" src="{{ 'alpha.gif' | asset_url }}" data-src="{{ 'HP_TN_M_Store.jpg' | asset_url }}">
      </a>
    </div>
    
  </div>
</div>